.table-container {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.table-wrapper {
  width: 100%;
  overflow-x: auto;
  padding: 15px;
  margin: 10px auto;
  overflow: scroll;
}

.UsersTable .title {
  display: flex;
  align-items: flex-start;
  justify-content: left;
  font-size: 30px;
  font-weight: bold;
  color: var(--secondary-color);
  margin: 0 10px 25px 10px;
  border-bottom: 2px solid var(--secondary-color);
  padding-bottom: 5px;
  width: max-content;
}

.table {
  border-collapse: collapse;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  margin: 12px auto;
  border-spacing: 15px;
  table-layout: auto; /* Allow columns to adjust dynamically */
}

/* .table {
  border-collapse: collapse;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  margin: 12px auto;
  border-spacing: 20px; 
} */

th,
td {
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  padding-right: 30px;
  word-wrap: break-word; /* Allow breaking long words */
  white-space: nowrap; /* Prevent overflowing text */
  overflow: hidden; /* Hide overflow */
  text-overflow: ellipsis; /* Add "..." when text is too long */
  max-width: 200px; /* Adjust column width */
}
.td_name {
  min-width: 130px;
}

tr:nth-child(even) {
  background-color: var(--white-color);
}

th {
  background-color: var(--secondary-color);
  color: var(--white-color);
}

tr:hover {
  background-color: #ddd;
}

.user-image {
  display: flex;
  align-items: center;
}

.user-image img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}
.table-name {
  font-size: 18px;
  font-weight: 500;
  margin-left: 5px;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.view-btn {
  border: none;
  background-color: var(--green-color);
  color: var(--white-color);
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
}

.delete-btn {
  border: none;
  background-color: var(--red-color);
  color: var(--white-color);
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
}

.actions button:last-child {
  background-color: var(--red-color);
}

.actions button:first-child:hover {
  background-color: var(--green-color);
}

.actions button:last-child:hover {
  background-color: var(--red-color);
}

.actions button a {
  text-decoration: none;
  color: var(--white-color);
}

@media screen and (max-width: 990px) {
  .table-container {
    flex-direction: column;
  }
  .table-wrapper {
    width: 100%;
  }
}

@media screen and (max-width: 780px) {
  .table-wrapper {
    width: 100%;
    padding: 10px;
    margin: 10px auto;
    overflow: scroll;
  }
  .table {
    width: 100%;
  }
  .user-image img {
    width: 50px;
    height: 50px;
  }
  th,
  td {
    padding: 5px;
    padding-right: 50px;
  }
  .actions {
    flex-direction: column;
    gap: 10px;
    margin-top: 5px;
    padding: 0px 10px;
  }
  .table-name {
    font-size: 15px;
  }
  .view-btn {
    font-size: 13px;
  }
  .delete-btn {
    font-size: 13px;
  }
}

@media screen and (max-width: 520px) {
  .table-wrapper {
    padding: 5px;
  }
  .table {
    width: 100%;
  }
  .user-image img {
    width: 50px;
    height: 50px;
    padding: 0;
    margin: 0;
  }
  th,
  td {
    padding: 1px;
    padding-right: 35px;
  }
  .actions {
    flex-direction: column;
    gap: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0px 10px;
  }
  .actions button {
    width: 100%;
  }
  .table-name {
    font-size: 12px;
  }
  .view-btn {
    font-size: 10px;
  }
  .delete-btn {
    font-size: 10px;
  }
  .email {
    font-size: 12px;
  }
}
